<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.dao.UserDao">
    <resultMap id="userMap" type="edu.nf.entity.User">
        <id property="uid" column="u_id"></id>
        <result property="name" column="name"/>
        <result property="pwd" column="pwd"/>
    </resultMap>
    <select id="listUser" resultMap="userMap">
        select name,pwd from user_info2
    </select>
    <insert id="addUser" parameterType="user">
        insert into user_info2(name,pwd) values (#{name},#{pwd})
    </insert>
    <delete id="delUserByName" parameterType="string">
        delete from user_info2 where name = #{name}
    </delete>
    <select id="selUserByName" parameterType="string" resultMap="userMap">
        select * from user_info2 where name = #{name}
    </select>
</mapper>